/*--------------------------------------------------
* GLOBAL STYLES
*-------------------------------------------------*/
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  font-family: Helvetica, Sans-serif;
  background: #f5f5f5;
  color: #333;
}

/*--------------------------------------------------
* HEADER
*-------------------------------------------------*/
.header {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0bf0b7, #0ebe89);
  box-shadow: inset 0 2rem 3rem rgba(0,0,0,0.5);
}

.header-title {
  font-size: 4rem;
  font-weight: 200;
  color: #f5f5f5;
  color: #0adfa9;
  color: #10ca92;
  text-shadow: 0 0.125rem 0.125rem rgba(0,0,0,0.5);
}

/*--------------------------------------------------
* MAIN
*-------------------------------------------------*/
.main-container {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: inset 0 1rem 3rem rgba(0,0,0,0.4);
  border-top: 1rem solid #333;
}


/*--------------------------------------------------
* MENU
*-------------------------------------------------*/
.menu {
  width: 15rem;
  height: 4rem;
  margin-top: 2rem;
  margin-bottom: -3.5rem;
}

.menu-item {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-title {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0;
}

.menu-select {
  background: #333;
  color: #f5f5f5;
  font-size: 1.25rem;
  height: 2rem;
  width: 6rem;
  margin: 0;
}

/*--------------------------------------------------
* BOARD
*-------------------------------------------------*/
.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5rem auto 5rem auto;
  box-shadow: 0 .1rem 3rem rgba(0,0,0,0.5);
  background: transparent;
}

.square {
  color: #f5f5f5;
  background:#0ebe89;
  border: 1px solid rgb(95, 95, 95);
  box-shadow: inset 0 0.5rem 1rem rgba(0,0,0,0.3);
  text-shadow: 0 0.125rem 0.125rem rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  box-shadow: inset 0 0.5rem 1rem rgba(100,100,100,0.1);
  background: #0ace9d;
}

.fas {
  color: #f5f5f5;
  font-size: .9rem;
}


/*--------------------------------------------------
* GAME OVER MODAL
*-------------------------------------------------*/
.modal {
  position: fixed;
  top: 20;
  left: 50;
  z-index: 2;
  margin: 5rem 0 0 34%;
  width: 20rem;
  height: 18rem;
  color: #0ebe89;
  border-radius: 0.5rem;
  padding: 1rem;
  background: linear-gradient(135deg, #f5f5f5, #e2e2e2);
}

.modal hr {
  background: #ccc;
}

.modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  /* box-shadow: inset 0 1rem 3rem rgba(0,0,0,0.4); */
}

.modal-header-title {
  font-size: 2.5rem;
  font-weight: 200;
  margin: 1rem;
  color: #eb8919;
  word-wrap: break-word;
  text-align: center;
}

.modal-header-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.modal-body {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------------------
* GAME OVER MODAL Buttons
*-------------------------------------------------*/

.modal-buttons {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  width: 5rem;
  height: 2rem;
  color: #f5f5f5;
  box-shadow: 0 3rem 3rem rgba(0,0,0,0.4);
}


.btn:hover {
  box-shadow: 0 2rem 2rem rgba(0,0,0,0.3);
  color: #333;
}

.btn:focus {
  outline: none;
}

.yes-btn {
  background: #0ebe89;
}

.no-btn {
  background: #eb8919;
}